include LICENSE
include README.md
include pyproject.toml
include MANIFEST.in

graft MemAnalysis

# Documentation
#graft docs

# Unit Test
graft tests

# Exclusions
global-exclude *.py[cod] __pycache__ *.so